.privacy {
  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__content {
    li {
      display: block;
      
      &:not(:last-child){
        padding-block: 10px;
      }

      &::before {
        content: counters(item, ".") " "; 
        counter-increment: item;
        margin-right: 5px;
      }
    }

    ol {
      counter-reset: item;
      padding-left: 0;
    }

    span {
      display: inline-block;
      margin-block: 16px;
    }

  }
}