:root {
  --color-dark: #191a23;
  --color-light: #fff;
  --color-accent: #96d24d;
  --color-gray: #f3f3f3;
  --color-black: #000;
  --color-gray-alt: #898989;
  --color-dark-alt: #2b2b2b;

  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;

  // --shadow: 0 5px 0 0 var(--color-dark);

  --font-family-base: 'Manrope', sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 30px;

  --input-height: 60px;
  --button-height-big: 70px;
  --button-height-medium: 60px;
  --button-height-small: 50px;

  --transition-duration: 0.2s;

  @include desktop {
    --section-padding-y: 50px;
  }

  @include mobile {
    --section-padding-y: 30px;
  }
}